{{!-- User Dashboard --}}

<!--Welcome and Create a post form-->
<div class="m-10">
    <h2 class="text-2xl my-4 text-white">
        Welcome, {{session.username}}!
    </h2>

    <div>
        <h2 class="mb-3 text-lg text-white">Create a Post</h2>
        <!--Form Start-->
            <form class="newPost-form">
                <div>
                    <div class="mb-4">
                        <label for="post-title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
                        <input type="text" id="post-title"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="My Post" required>
                    </div>
                    <div class="mb-4">
                        <label for="post-content" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                        <textarea id="post-content" rows="4"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Write anything you would like..."></textarea>
                    </div>

                    <button type="submit"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-teal-600 rounded-lg hover:bg-teal-900 focus:ring-4 focus:outline-none focus:ring-blue-300">Submit
                    </button>
            </form>
            <!--Form End-->
    </div>
<!--Posts Section-->
    <div class="mt-10">
                        <div class="mb-5 overscroll-auto max-h-screen overflow-y-auto">
            <h3 class="text-lg font-bold text-white">Your Posts:</h3>
            {{#if posts.length}}
                {{#each posts as |post|}}
                    <div class="p-6 border shadow-md border-gray-700">
                        <a href="/post/{{post.id}}">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{post.title}}</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-200">{{dashSummary post.content}}</p>
                        <p class="mb-3 font-normal text-gray-400">Written on
                            {{format_date post.date_created}}</p>
                        <a href="/post/{{post.id}}"
                            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-teal-600 rounded-lg hover:bg-teal-900 focus:ring-4 focus:outline-none focus:ring-blue-300">
                            Read more
                            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </a>
                         <div data-id="{{post.id}}"
                            class="editButton ml-10 cursor-pointer inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-400 rounded-lg hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-blue-300">
                            Edit Post
                        </div>
                        <div data-id="{{post.id}}"
                            class="delButton ml-10 cursor-pointer inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-400 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                            Delete Post
                        </div>
                {{/each}}
            {{else}}
            <h4 class="text-white font-normal">No posts to show yet.</h4>
            <p class="text-white font-normal">Use the form to create your first post.</p>
            {{/if}}
        </div>
    </div>
</div>

{{!--Dashboard Functionality--}}
<script src="/js/dashboard.js"></script>
