<div class="p-10">
    <h5 class="mb-2 text-3xl font-bold tracking-tight text-gray-200">{{post.title}}</h5>
    <h6 class="mb-6 text-lg font-normal tracking-tight text-gray-400">by {{post.user.username}}</h6>
    <p class="text-gray-300">{{post.content}}</p>
</div>

<!--Comments Form Start-->
<div class="p-10">
    {{#if session.loggedIn}}
        <h2 class="font-bold mb-3 text-lg text-white">Comment on this post:</h2>
        <!--Form Start-->
            <form class="comment-form">
                <div>
                    <div class="mb-4">
                        <label for="comment-body" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                        <textarea id="comment-body" rows="4"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Write your comment here..."></textarea>
                    </div>

                    <button id="comment-submit" type="submit"
                        data-post="{{post.id}}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-teal-600 rounded-lg hover:bg-teal-900 focus:ring-4 focus:outline-none focus:ring-blue-300">Submit
                    </button>
            </form>
            <!--Form End-->
                {{else}}
                    <div class="mt-10" id="comment-form">
                        <h2 class="text-white text-xl">Please log in to comment on this submission!</h2>
    </div>
    </div>
    {{/if}}


<div class="p-10">
<h6 class="text-lg text-gray-200">Comments for this post:</h6>
    <!-- Loop over each object in the comments array -->
    <div>
        {{#each post.Comments as |comment|}}
            <div
                class="my-4 p-3 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-700 dark:border-gray-700">
                <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">{{comment.content}}</h5>
                <p class="mb-3 text-sm font-normal text-gray-700 dark:text-gray-200">by {{comment.author}} on
                    {{format_date comment.date_created}}</p>
            </div>
        {{/each}}
    </div>

</div>

{{#if session.loggedIn}}
    <script src="/js/comment.js"></script>
{{/if}}
